.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background: linear-gradient(to bottom, #afccd8 5%, #75929d 100%);
  background-color: #afccd8;
}
.gradient1 {
  background: linear-gradient(to bottom, #afccd8 5%, #75929d 100%);
  background-color: #afccd8;
}

.gradient2 {
  background: linear-gradient(to top, #afccd8 5%, #75929d 100%);
  background-color: #afccd8;
}

.gradient3{
  background:linear-gradient(to bottom, #c6d3d8 5%, #a3aaad 100%);
	background-color:#afccd8;
}

.play_fair {
  font-family: "Playfair Display SC", serif;
  color: #120321;
}
.roboto {
  font-family: "Roboto", sans-serif;
  color: #120321;
}
