.conferenceCard {
  padding-bottom: 10px;
  border: 2px solid;
  height: 100%;
  background: #e8f3ff;
  margin-bottom: 25px;
  box-shadow: 0 15px 20px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 25px;
  align-items: center;
}

.searchArea {
  text-align: right;
}

.cardBody{
  text-align: center;
}

