/* .confStartDates {
    width: 15vw;
}

.confEndDates  {
    width: 15vw;
}

.confForm {
    width: 50vw;
    margin-left: 24vw;
    text-align: left;
}

.submitBtn {
    margin-left: 2vw;
}

.delete {
    max-height: 25px;
    cursor: pointer;
}

  
#confTypeLive{
     margin-right: 4px;
    
 }

#confTypeVirtual {
    margin-right: 4px;
}

h3 {
    text-align: left;
  
    margin-top: 1vw;
} */

.backgroudBody {
    background: #D0DCE0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #afccd8 40%, #75929d 100%);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #86949a 40%, #75929d 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}