.info {
    background: #D0dce0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #d0dce0, #84959b, #75929d);  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom,#afccd8 40%, #75929d 100% );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #afccd8 40%, #75929d 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.headerBorder {
    margin-top: 5vh;
    height: 2vh;
    border-radius: 15px;
    margin-bottom: 2vh;
    background: #d0dce0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,#afccd8 40%, #75929d 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#afccd8 40%, #75929d 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bigCol {
  margin-top: 10px;
}