.rowMain {
  /* outline: solid 1px black; */
  margin-top: 10px;
  
}

.column {
  height: 100%;
  margin-top: -5px;
}

.job {
  /* margin-top: -0px; */
}

.info {
  text-align: center;
}

#textbox {
  padding-top: 15px;
}

#pleft {
  float: left;
}

#pright {
  float: right;
}

.stats {
  font-size: large;
  padding: 42px 5px;
  /* outline: solid 1p #D0DCE0;
  background-color: #D0DCE0; */
}

#confRow {
  margin-top: 20px;
}

.conference {
  outline: solid 1p #D0DCE0;
  background-color: #D0DCE0;
}

.conferenceCol {
  text-align: center;
  margin-bottom: 20px;
}

#admins {
  color: rgb(56, 54, 54);
}

.dates {
  padding-top: 10px;
}

.buttons {
  padding-top: 10px;
}

.detailsBtn {
  margin-top: 10px;
  background-color: white;
  width: 200px;
  height: 50px;
}

.adminBtn {
  height: 50px;
  width: 100px;
  background-color: lightblue;
}

.editBtn {
  height: 50px;
  width: 100px;
  background-color: lightcoral;
}

/* .rowMain {
  background-color:#86949A ;
} */