.subtitle {
    color: #4A5869;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    background-color: #B5A993;
}
.top {
    color: #4A5869;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}