/* .subtitle {
    color: #4A5869;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    background-color: #D0DCE0;
}
.top {
    color: #4A5869;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
} */

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.headerBorder {
    width: 100%;
    height: 2vh;
    border-radius: 15px;
    margin-bottom: 2vh;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}