
.narbar {
    background: #D0DCE0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #AFCCD8 40%, #75929D 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#AFCCD8 40%, #75929D 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;

}

.navlink {
  padding: .7em;
  color: #d5d5d5;
  font-family: 'Roboto', sans-serif;
}

.navlink:visited {
  color: #c5c5c5;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}

.mylogo { 
  color: #d5d5d5;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
}

.mylogo:visited {
  color: #c5c5c5;
}

.logout{
  padding-left: .7em;
  font-family: 'Roboto', sans-serif;
}

.logout:hover{
  cursor: pointer;
}