.navbar {
  background: rbg (0,0,5) ;
  width: 100%;
  font-size: 16px;
}

.navlink {
  padding: 1em;
  color:#d5d5d5;
  font-family: 'Roboto', sans-serif;
}

.navlink:visited {
  color: #c5c5c5;
}

.mylogo { 
  color: #d5d5d5;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
}

.mylogo:visited {
  color: #c5c5c5;
}